# =========================
# NYT API
# =========================
NYT_API_KEY=your_api_key_here

# =========================
# Snowflake
# =========================
SNOWFLAKE_ACCOUNT=your_account
SNOWFLAKE_USER=your_user
SNOWFLAKE_PASSWORD=your_password
SNOWFLAKE_DATABASE=NYT_BOOKS
SNOWFLAKE_SCHEMA=RAW_NYT
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

# =========================
# Optional
# =========================
ENV=dev
