# =========================
# OS / General
# =========================
.DS_Store
Thumbs.db

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.env.*

# =========================
# Logs
# =========================
*.log
logs/
airflow/logs/

# =========================
# Jupyter / temp
# =========================
.ipynb_checkpoints/
*.tmp

# =========================
# Airflow
# =========================
airflow/airflow.db
airflow/standalone_admin_password.txt

# =========================
# dbt
# =========================
dbt/target/
dbt/dbt_packages/
dbt/logs/

# =========================
# Snowflake / data files
# =========================
data/
*.csv
*.json
*.parquet

# =========================
# Secrets
# =========================
.env
.env.*
secrets.yml
profiles.yml

# =========================
# Terraform
# =========================
.terraform/
*.tfstate
*.tfstate.*
crash.log

# =========================
# VS Code / IDE
# =========================
.vscode/
.idea/

# =========================
# Mac/Linux temp
# =========================
*.swp
